html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family: sans-serif;
}

body {
    width: 100%;
    height: 100%;
    max-width: 1366px;
    line-height: 1;
    font-family: sans-serif;
    margin: auto;
    background: #9d9c9c30;
    /* overflow-x: hidden; */
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

a:hover {
    text-decoration: none;
}

/* change colours to suit your needs */

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

/* change colours to suit your needs */

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* change border colour to suit your needs */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input, select {
    vertical-align: middle;
}

table td, th {
    text-align: center;
    vertical-align: middle;
}

/* START_HEADER */

.header {
    width: 100%;
    height: 34px;
    background: #0c2636;
    line-height: unset;
    position: fixed;
    z-index: 1050;
}

.header .container-fluid {
    padding: 0;
}

.header a, i, span {
    font-size: 13px;
    color: #ffc700;
    font-family: sans-serif;
    font-weight: lighter;
    padding-left: 3px;
}

.header a {
    padding: 0px 5px;
}

.package {
    width: 90%;
    margin: auto;
    position: relative;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}

.header_right {
    float: right;
    display: flex;
}

.header_right .infor_contact {
    display: flex;
}

.menu_hidden {
    display: none;
}

@media(max-width:767px) {
    .menu_hidden {
        display: block;
    }
}

ul.menu_list_hidden {
    list-style: none;
}

ul.menu_list_hidden li {
    display: inline-flex;
}

li.gurantee, li.request_price i {
    padding: 0px 5px;
}

@media(max-width:767px) {
    ul.menu_list_hidden {
        display: none;
    }
    .phone_number {
        padding-right: 20px;
    }
}

@media(max-width:816px) {
    .gmail {
        display: none;
    }
}

@media (max-width: 767px) {
    .package {
        width: 100% !important;
        justify-content: space-between;
    }
}

/* END HEADER */

.social {
    float: right;
    position: fixed;
    right: 0;
    top: 40%;
    z-index: 3;
}

.social a {
    display: block;
}

.social a img {
    width: unset;
}

/*  */

/* START BANNER  */

.banner {
    height: unset;
}

.banner1 {
    display: flex;
    align-items: center;
    position: relative;
    margin: auto;
}

.sologan_banner {
    width: 100%;
    text-align: center;
    margin-top: 33px;
    margin-left: auto;
    margin-right: auto;
}

@media(min-width:1200px) {
    .banner1 {
        width: 1200px;
    }
}

@media(min-width:768px) {
    .banner1 {
        width: 90%;
    }
}

@media(max-width:767px) {
    .banner1 {
        width: 100%;
    }
}

.sologan_banner a img {
    width: 100%;
}

.sologan_banner a {
    margin-bottom: 0;
}

.cart {
    position: absolute;
    right: 0;
}

.cart a {
    position: relative;
    font-size: 1.86em;
    color: #1d2129;
    display: block;
    margin-top: 27px;
}

.cart img {
    top: -42px;
    left: 10px;
    padding-right: 6.5rem;
    font-family: sans-serif;
}

.banner1 .cart a span {
    position: absolute;
    top: 1em;
    font-weight: bold;
    right: 2.6em;
    color: black;
}

.banner1 .cart a strong {
    position: absolute;
    top: 2.5em;
    right: 1.5em;
    color: #1D2129;
    font-size: 13px;
}

@media (max-width:991px) {
    .cart span, strong {
        display: none;
    }
    .cart img {
        padding-right: 0;
        width: 50px;
    }
}

@media(max-width:784px) {
    .cart img {
        width: 35px;
    }
}

@media (max-width: 767px) {
    .package {
        width: 100% !important;
    }
}

/* END BANNER */

.menu_panel {
    width: 100%;
    height: 40px;
    margin-top: -3px;
}

.panel_bar {
    width: 90%;
    height: 100%;
    background: gray;
    margin: auto;
}

.menu_bar {
    display: flex;
    justify-content: space-between;
    height: 40px;
    background: #ffc700;
    margin-bottom: 3px;
}

.category {
    width: 220px;
    justify-content: center;
    background: #ffc700;
    color: #1d2129;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.category span {
    color: #1d2129;
    font-size: 15px;
    font-weight: bold;
    display: inline-flex;
}

.menu_bar .category i {
    font-size: 1.5em;
    margin-left: 5px;
    color: #1d2129;
}

ul.category_hidden {
    position: absolute;
    top: 40px;
    left: 0;
    list-style: none;
    width: 100%;
    background: #0c2636;
    height: 460px;
    visibility: hidden;
    opacity: 0;
    transition: 0.2s;
    z-index: 3;
}

ul.category_hidden li {
    padding: 10px;
    border-bottom: solid 1px #222c3745;
    background: #0c2636;
}

ul.category_hidden li a {
    color: white;
    font-size: 13px;
}

.category:hover ul.category_hidden {
    visibility: visible;
    opacity: 1;
}

.list_hidden {
    position: absolute;
    top: 0;
    left: 220px;
    height: 460px;
    background: #000000cf;
    width: 452%;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    padding: 0px 20px;
}

.box_li_hidden {
    float: left;
    min-width: 33%;
}

.box_li_hidden a {
    color: white;
    opacity: 0.98;
    display: inline-block;
    text-align: center;
    padding: 10px;
}

ul.category_hidden li:hover .list_hidden {
    visibility: visible;
    opacity: 1;
}

ul.category_hidden li:hover {
    background: gray;
}

.category span.span_hidden {
    display: none;
}

@media(max-width:767px) {
    .panel_bar {
        width: 100%;
    }
    .category span.dmsp {
        display: none;
    }
    .category {
        width: 80px !important;
    }
    .category span.span_hidden {
        display: block;
    }
    ul.category_hidden li:hover .list_hidden {
        opacity: 0;
    }
}

.search {
    margin: 5px;
    border-radius: 25px;
    background: white;
    width: 310px;
    position: relative;
}

.search input {
    border: none;
    position: absolute;
    top: 5px;
    left: 1.25em;
    outline: none;
    min-width: 168px;
    font-size: 13px;
}

@media (max-width: 767px) {
    .menu_bar .search {
        width: calc(100% - 80px) !important;
    }
}

.search i {
    position: absolute;
    top: 7px;
    right: 10px;
    outline: none;
    color: black;
}

/* END MENU PANNEL */

/* STAR CONTENT  */

.w9ma {
    width: 90%;
    margin: auto;
}

.w9ma p, em, h1 {
    margin-bottom: 10px;
}
.w9ma ul{
    list-style: none;
}
.w9ma p, em,li {
    font-size: 13px;
    line-height: 1.5;
}

.w9ma .GT {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
}

/* END CONTENT */

/* START FOOTER */

.list_box {
    width: 90%;
    margin: auto;
    background: gray;
}

.list_infor {
    padding-top: 20px;
}

.company_infor i.fas.fa-caret-down {
    display: none;
}

.list_box h4 {
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    margin: 5px 0px 8px;
}

.list_box .row {
    margin: 0;
}

.footer ul {
    list-style: none;
}

.footer li {
    margin-bottom: 5px;
}

.footer a {
    color: black;
    font-size: 13px;
}

.list_address {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #ffc700;
    color: #1d2129;
}

.office_trade li, span {
    font-size: 13px;
    line-height: 20px;
}

.office_trade h4 {
    color: black;
}

/*  */

.pay_partner {
    background: #0c2636;
}

.pay_partner span {
    display: block;
    font-size: 16px;
    align-content: center;
    padding: 10px 0px;
    margin-left: auto;
    margin-right: auto;
    word-spacing: 2px;
}

.pay_box {
    padding: 0px 10px 2px;
    margin-top: 10px;
}

.pay_box img {
    width: 100%;
    height: 54px;
}

.border-left {
    border-left: 1px solid #ffc700;
}

.map iframe {
    margin: 10px 0px;
}

span.end {
    font-size: 13px;
    text-align: center;
    align-items: center;
    border-top: solid 1px #ffc7007d;
    display: flex;
    justify-content: center;
}

span.end img {
    width: 100px;
    height: 32px;
    margin-left: 7px;
}

.pay_partner hr {
    color: #ffc700;
}

@media(max-width:1199px) {
    .pay_partner {
        display: none;
    }
}

.bdl {
    border-left: solid 1px #ffc7007d;
}